#Serveur et Framework
fastapi
uvicorn
python-multipart

#Base de données
psycopg2-binary
sqlalchemy
pgvector

#Communication et IA
requests
ollama

#Scraping et Traitement de texte
langchain-community
beautifulsoup4
langchain-text-splitters

#Base de données Vectorielle (RAG)
chromadb
langchain-ollama
